@font-face {
  font-family: 'Fakt';
  font-style: normal;
  font-weight: 400;
  src: url('~@/assets/fonts/fakt/FaktProNormal.woff') format('woff');
}
@font-face {
  font-family: 'Fakt';
  font-style: normal;
  font-weight: lighter;
  src: url('~@/assets/fonts/fakt/FaktPro-Blond.ttf') format('truetype');
}
@font-face {
  font-family: 'Fakt';
  font-weight: bold;
  src: url('~@/assets/fonts/fakt/FaktProMedium.woff') format('woff');
}
