.fade-enter-active {
	animation: fade 0.3s ease-out;
}
.fade-leave-active {
	animation: fade 0.3s ease-out reverse;
}

.slide-in-enter-active {
	animation: slide-in 0.5s 0.1s cubic-bezier(0.34, 1.56, 0.64, 1) both;
}

.slide-in-leave-active {
	animation: slide-in 0.3s ease-out reverse;
}

.slide-from-left-enter-active {
	animation: slide-from-left 0.3s both;
}

.slide-from-left-leave-active {
	animation: slide-from-left 0.12s reverse;
}

.slide-from-left-short-enter-active {
	animation: slide-from-left-short 0.3s both;
}

.slide-from-left-short-leave-active {
	animation: slide-from-left-short 0.12s reverse;
}

.slide-up
	/* .slide-fade-leave-active below version 2.1.8 */ {
	transform: translateY(-30px);
	opacity: 0;
}
.sidebar-slide
/* .list-complete-leave-active below version 2.1.8 */ {
	opacity: 0;
	transform: translateY(-30px);
}
@keyframes fade {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes slide-in {
	0% {
		left: -30px;
		opacity: 0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}

@keyframes slide-from-left {
	0% {
		left: 0;
	}
	100% {
		left: 257px;
	}
}
@keyframes slide-from-left-short {
	0% {
		left: 0;
	}
	100% {
		left: 104px;
	}
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes fade-in-from-top {
	0% {
		opacity: 0;
		transform: translateY(-30px) scale(0.98);
	}
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
